body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  color: red;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: black;
  color: white;
  padding: 6px 20px;
}

.img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.title {
  font-size: 35px;
  font-weight: bold;
  color: red;

}
/* header btn  */
.btn{
  padding: 14px 0px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    background: rgb(222, 134, 10);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}



.query-form {
  display: flex;
  margin: 6% auto;
align-items: center;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.image-container img {
  display: flex;
  margin: 0 auto;
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

/* query form style here  */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  padding: 25px 20px;
  border-radius: 10px;
  background: white;
  color: black;
  gap: 10px;
  box-shadow: 1px 1px 2px black;
  height: 300px;
  text-align: center;

  & input {
    padding: 10px 6px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    font-size: 14px;
    font-weight: normal;
  }

  & textarea {
    padding: 4px 6px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    margin-top: 20px;
    font-size: 14px;
    font-weight: normal;
  }


  & button {
    padding: 14px 0px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    background: red;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;


  }
}

/* history style   */
.image-container-prt{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  flex-wrap: wrap;
  margin: 0px auto;
}
.history{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 margin: 20px auto;
}
.history h1{
  color: blue;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
}
.history .search-form {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2px;
  flex-wrap: wrap;
  background: #fff;
  border: 1px solid black;
  border-radius: 10px;
padding: 5px;
width: 50%;

& input {
  padding: 10px 0px;
  width: 90%;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 200;
  color: black;
  background: transparent;
}
& button {
  border-radius: 5px;
  border:none;
  outline: none;
  cursor: pointer;
  background: #fff;
  color: black;
  background: transparent;

}

}
/* footer   */

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: black;
  padding: 20px;
  text-align: center;
  color: white;
}
